#inspector-holder-create {
   position: absolute;
   top: 0;
   left: 560px;
   bottom: 0;
   width: 240px;
   height: 458px;
   background-color: #333;
   color: #bcbcbc;
}

#inspector-holder-create .group-label {
   padding: 0 5px;
}