#paper-holder-groups {
   left: 200px;    
   height: 500px;
   position: relative;
}
#stencil-holder-groups .stencil {
   width: 200px;
   height: 500px;
   position: absolute;
}
#stencil-holder-groups .stencil .group-label {
   padding: 0;
}
#stencil-holder-groups .stencil .group .elements {
   margin-left: -10px;
   background: transparent;
}
